* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

body {
  background-image: url("https://source.unsplash.com/1600x900/?weather");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.container {
  display: grid;
  padding: 20px 70px;
  color: #fff;
  background-color: rgba(31, 31, 31, 0.6);
  row-gap: 60px;
}

.date__search__place__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.current__date__container {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  justify-content: flex-start;
}

.current__time {
  font-size: 40px;
  font-weight: 100;
}

.current__date {
  font-size: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__bar {
  border: none;
  outline: none;

  margin: 0.7rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: solid 1px #fff;
}

.search__button {
  margin: 0.2rem;
  padding: 0.4rem;
  border-radius: 25px;
  outline: none;
  font-size: 1rem;
  background-color: rgba(32, 32, 32, 0.8);
  color: white;
  transition: 0.2s ease-in-out;
}

.search__button:hover {
  background-color: rgba(68, 68, 68, 0.8);
  cursor: pointer;
}

.place__container {
  text-align: end;
  justify-self: flex-end;
}

.time__zone {
  font-size: 10px;
  font-weight: 100;
}

.country {
  font-size: 12px;
  font-weight: 700;
}

.current__info {
  display: grid;
  justify-content: space-around;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

.current__weather__container {
  display: grid;
  row-gap: 30px;
}

.title {
  text-align: center;
  font-weight: 200;
  font-size: 40px;
}

.current__weather__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.current__others {
  display: flex;
  flex-direction: column;
  background-color: rgba(31, 31, 31, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #fff;
}

.weather__item {
  display: flex;
  justify-content: space-between;
}

.future__forecast {
  background-color: rgba(31, 31, 31, 0.6);
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.day {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
}

.today {
  display: flex;
  align-items: center;
  justify-content: center;
}

.today .day {
  /* padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center; */
}

.today .temp {
  font-size: 18px;
  padding-top: 15px;
}

.w__icon {
}

.weather__forecast {
  display: flex;
}

.weather__forecast__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.weather__forecast__item .day {
}

.weather__forecast__item .temp {
  font-weight: 100;
}

/* ============================MEDIAQUERIES============================ */
@media only screen and (max-width: 480px) {
  .container {
    row-gap: 30px;
  }
  .future__forecast .today .temp {
    font-size: 20px;
  }

  .date__search__place__container {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    grid-template-columns: 1fr;
  }
  .current__date__container {
    display: none;
  }

  .search {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    align-items: center;
  }

  .place__container {
    display: none;
  }

  .current__weather__container {
    display: grid;
    row-gap: 10px;
  }

  .current__weather__info {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
  }

  .title {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
  }
  .today .w__icon {
    width: 35%;
  }

  .today .other .day {
    font-size: 10px;
  }

  .today .other .temp {
    font-size: 15px;
  }
  .today {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .weather__forecast__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 480px) and (max-height: 665px) {
  .container {
    padding: 0px;
    row-gap: 10px;
  }

  .weather__item {
    font-size: 10px;
  }

  .weather__forecast__item .temp {
    font-weight: 100;
    font-size: 15px;
  }

  .weather__forecast__item .w__icon {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .current__weather__info {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .date__search__place__container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
  }

  .weather__item {
    font-size: 10px;
  }

  .weather__forecast__item .temp {
    font-weight: 100;
    font-size: 15px;
  }

  .weather__forecast__item .w__icon {
    width: 90%;
  }

  .current__weather__container {
    display: grid;
    row-gap: 10px;
  }
  .container {
    row-gap: 20px;
  }

  .title {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
  }
  .today .w__icon {
    width: 35%;
  }

  .weather__item {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 730px) {
  .container {
    padding: 20px;
  }

  .future__forecast {
    justify-content: start;
    overflow-y: scroll;
    padding: 15px;
  }

  .today .temp {
    font-size: 23px;
  }

  .current__date__container .current__time {
    font-size: 50px;
  }

  .current__date__container #am-pm {
    font-size: 20px;
  }

  .current__date__container .current__date {
    font-size: 20px;
  }
  .place__container {
    text-align: end;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 731px) and (max-height: 600px) {
  .container {
    row-gap: 10px;
    padding: 50;
  }

  .title {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
  }
  .today .w__icon {
    width: 50%;
  }

  .future__forecast {
    padding: 10px;
  }
}

@media only screen and (max-width: 1053px) {
  .future__forecast {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }
}

@media only screen and (min-width: 1000px) {
  .weather__item {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
}
